.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-top: 2px solid #e6e6e6;
    padding-top: 1rem;

    h4{
        text-transform: uppercase;
    }

    button{
        //  padding: 0.5rem 3rem;
            background-color: var(--black);
            border-radius: 3px;
            border: none;
            color: var(--green);
            cursor: pointer;
            border: 2px solid var(--black);
            
            &:hover {
                border: 2px solid var(--black);
                background-color: var(--green);
                color: var(--black);
            }
    }

}
.instructions{
    border: 2px solid rgb(243, 243, 243);
        padding: 1rem;
}


