.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #e6e6e6;
    padding-top: 1rem;

    h4{
        text-transform: uppercase;
    }

}
.instructions{
    border: 2px solid rgb(243, 243, 243);
        padding: 1rem;
}


