.vanContainer {
    border: 2px solid #e6e6e6;
    cursor: pointer;
    width: 100%;
    // flex: 1;
    border-radius: 6px;
    padding: 2rem;
    transition: background-color .2s ease-in-out;
    &:hover {
        background-color: #eee;
    }

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .label {
        font-size: 0.7rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    .data {
        font-size: 1rem;
        display: flex;
        gap: 0.2rem;
        // align-items: center;
    }

    .address {
        max-width: 10rem;
    }

    .accountNumber {
        font-family: "Space Grotesk", sans-serif;
    }
}
