.App {
    position: relative;
    padding-bottom: 7rem;
}

.paymentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    // z-index: 98162312;
    position: fixed;
    bottom: 0;
    background-color: var(--black);
    padding: 0.6rem;
    .payment {
        width: 900px;
        // border-top: 2px solid #e6e6e6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;

        button {
            // padding: 0.5rem 3rem;
            background-color: var(--green);
            border-radius: 6px;
            border: none;
            color: var(--black);
            cursor: pointer;
            border: 2px solid var(--green);
            
            &:hover {
                border: 2px solid var(--green);
                background-color: var(--black);
                color: var(--green);
            }
        }

        .amount {
            color: var(--green);
            font-size: 2rem;
            font-family: "Space Grotesk", sans-serif;
        }

        // margin: auto;
    }
}

.dashboard {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (max-width: 500px) {
        padding: 1rem;
    }

    @media screen and (min-width:500px) and (max-width: 1100px) {
        padding: 1rem;
        
    }


    .paymentInstructions {
        border: 2px solid rgb(243, 243, 243);
        padding: 1rem;
        border-radius: 6px;
    }

    .ticketNav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            cursor: pointer;
            //  padding: 0.5rem 3rem;
            background-color: var(--black);
            border-radius: 3px;
            border: none;
            color: var(--green);
            cursor: pointer;
            border: 2px solid var(--black);
            
            &:hover {
                border: 2px solid var(--black);
                background-color: var(--green);
                color: var(--black);
            }
            

            a {
                text-decoration: none;
                color: var(--green);

                &:hover {
                    color: var(--black);
                }
                // color: #000;
            }
        }
    }

    .ticket {
        border: 1px dashed rgba($color: #1a2b3b, $alpha: 0.5);
        // background-color: var(--green);
        // padding: 1rem;
    }

    .LaunchTimerNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            
            cursor: pointer;
            
        }
    }

    .timeuntilLaunch {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #adfaeb;
        margin-top: 1rem;

        h4 {
            align-self: flex-start;
        }
    }

  
}

.availableAccounts {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    // background-color: aquamarine;
}
