*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	/* if you want 1rem = 10px, easier for calculations */
	/* font-size: 62.5%; */

	font-family: "Satoshi", sans-serif;
	color: #1a2b3b;

	--black: #1a2b3b;
	--dark-gray: #667380;
	--gray: #667380;
	--light-gray-light-background: #808b96;
	--light-gray-dark-background: #9da8b2;
	--green: #31f2cc;
	--lime: #df3;
	--blue: #3bf;
	--orange: #fa6d3e;
	--silver: #f5f7f9;
	--white: #fff;
}


::selection {

    background: var(--green);

}
body {
	/* line-height: 1.5; */
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
	outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

button {
	padding: 0.6rem 1rem;
}
