.container {
    max-width: 900px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    .transaction {
        background-color: #d6fcf5;
        border: 2px solid var(--green);
        padding: 1rem;
        border-radius: 6px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .amount{
            font-size: 2rem;
        }
    }
}
